.container {
  display: grid;
  list-style-type: none;

  margin: 0;
  padding: 0;

  grid-template-columns: 1fr;
  gap: var(--padding-s);
}

.item {
  margin: var(--padding-lg) auto;
  padding: var(--padding-s);

  text-align: center;
}

.title {
  font-size: var(--text-md);
  color: var(--text-color);

  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
}

.subtitle {
  display: block;
  font-size: var(--text-s);

  color: var(--text-accent-color);
}

picture {
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
    gap: var(--padding-md);
  }

  .item {
    padding: var(--padding-md);

    text-align: left;
  }
}
