---
import { getCollection } from 'astro:content';
import MarkdownPostLayout from '@/layouts/BlogPost.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dustin Schau | Product & Engineering Leader</title>
	</head>
  <body>
    <MarkdownPostLayout frontmatter={entry.data as any}>
      <Content />
    </MarkdownPostLayout>
  </body>
</html>

