---
import { getCollection } from "astro:content";
import { Layout } from '@/components/layout/layout.tsx'

const posts = await getCollection('posts', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
})
---

<Layout>
  <h1>All Posts</h1>
  {
    posts.length > 0 ? (
      <ul>
        {
          posts.map(entry => (
            <li>
              <a href={`/posts/${entry.slug}`}>
                {entry.data.title}  
              </a>
            </li>
          ))
        }
      </ul>
    ) : null
  }
</Layout>
