---
import { getCollection } from "astro:content";
import Layout from '@/layouts/Layout.astro'
import { Collection } from "@/components/collection/collection.tsx";

const posts = await getCollection('posts', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
})
  .then(all => {
    return all.sort((a, b) => {
      return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
    })
  })
---

<Layout title="All posts">
  <h2>{posts.length} Post{posts.length > 1 ? 's' : ''}</h2>
  <Collection items={posts} />
</Layout>
