---
import { getCollection } from "astro:content";
import Layout from '@/layouts/Layout.astro'

const posts = await getCollection('posts', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
})
  .then(all => {
    return all.sort((a, b) => {
      return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
    })
  })
---
<style>
  p {
    font-size: var(--text-s);
  }

  h2 {
    text-align: center;
  }

  .container {
    margin: 0 auto;
    max-width: var(--content-width);

    padding: var(--padding-lg);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    padding: var(--padding-md) 0;
  }
</style>

<Layout title="All posts">
  <div class="container">
    <h2>{posts.length} Post{posts.length > 1 ? 's' : ''}</h2>
    <ol reversed>
      {posts.map(post => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          <p>{post.data.excerpt}</p>
        </li>
      ))}
    </ol>
  </div>
</Layout>
