---
import { Image } from 'astro:assets'
import me from '@/assets/images/me.jpg'
---
<style>
  .me {
    display: flex;
    flex-direction: row;

    justify-content: center;

    padding: var(--padding-lg) 0;
  }

  img {
    height: 32px;
    width: 32px;

    border-radius: var(--padding-md);

    margin: 0;
    margin-right: var(--padding-md);
  }

  h3, p {
    margin: 0;
    padding: 0;

    line-height: 1;
    font-size: 1rem;
  }
</style>

<div class="me">
  <Image src={me} alt="Headshot of Dustin Schau" />
  <div class="row">
    <h3>Dustin Schau</h3>
    <p>Product & Engineering Leader</p>
  </div>
</div>