.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  list-style-type: none;

  display: inline-block;
  padding: 0.25rem 0.5rem;
}

.navigation a {
  color: var(--text-color);
  text-decoration-skip: ink;
}

.navigation a:hover {
  text-decoration: none;
}