---
import Layout from '@/layouts/Layout.astro'
---
<style>
  .container {
    margin: 0 auto;
    padding: 0 var(--padding-lg);

    max-width: min(65ch, 100%);
  }

  h1 {
  }
</style>
<Layout title="404: Not Found" showCopy={false}>
  <div class="container">
    <h2>⚠️ Oh no, a 404!</h2>
    <p>Couldn't find the page specified. Perhaps try the <a href="/">Home page</a> or <a href="/posts">Blog posts</a>?</p>
  </div>
</Layout>
