---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import { getRepositories } from '@/lib/get-repositories.ts';

import { Collection } from '@/components/collection/collection.tsx';
import { Project } from '@/components/project/project.tsx';

const POST_LIMIT = 3
const REPO_LIMIT = 6

const repos = await getRepositories({
	limit: REPO_LIMIT
})

const posts = await getCollection('posts', ({ data }) => {
	return data.featured
})
	.then(all => {
		return all
			.sort((a, b) => {
				return new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
			})
			.slice(0, POST_LIMIT)
	})
---
<style>
	h3 {
		text-align: center;
		padding: var(--padding-md) 0;

		margin: var(--padding-s) auto;
		max-width: var(--content-width);
		border-top: 1px solid var(--border-color);
	}

	section {
		padding: var(--padding-lg) 0;
	}

	section > p {
		margin: 0 auto;
		width: var(--content-width);

		padding: var(--padding-md) var(--padding-lg);
	}

	form {
		margin: 0 auto;

		width: var(--content-width);
		padding: var(--padding-md) var(--padding-lg);
	}

	form input, form textarea {
		display: inline-block;
		width: 100%;

		padding: var(--padding-md) var(--padding-lg);
		margin: var(--padding-s);
	}

	.form-row {
		display: flex;
	}

	input:focus, textarea:focus {
		outline: 1px solid var(--button-color);
	}

	input[name="name"] {
		max-width: 40%;
	}
	
	textarea {
		min-height: 150px;
	}

	button {
		background-color: var(--button-color);
		border: 1px solid var(--button-border-color);
		color: var(--bg-color);
		width: min(45ch, 100%);
		margin: var(--padding-lg) auto;
		padding: var(--padding-md) var(--padding-lg);
		
		transition: var(--ease-fn) 1s;
	}

	button:hover {
		cursor: pointer;
		background-color: var(--button-border-color);
	}
</style>

<Layout>
	<section>
		<h3>recent posts</h3>
		<p>I try to blog about topics that interest me. Maybe they interest you! Some recent ones are below.</p>
		<Collection items={posts} />
	</section>
	<section>
		<h3>open-source work</h3>
		<p>Working on open-source has long been a passion of mine. Some of my favorite projects, the ones I've spent the most time on, or just simply the ones I'm most proud of are below. Check them out if you'd like.</p>
		<Collection items={repos} renderer={Project as any} />
	</section>
	<section>
		<h3>contact me</h3>
		<p>If you'd like to chat, please do reach out. You can <a href="https://mailto:me@dustinschau.com">e-mail me</a> or you can use the form below.</p>
		<form name="contact-me">
			<div class="form-row">
				<input name="name" type="text" placeholder="Your name" required />
				<input name="email" type="email" placeholder="Your e-mail" required />
			</div>
			<div class="form-row">
				<textarea name="message" placeholder="Your message" required></textarea>
			</div>
			<div class="form-row">
				<button type="submit">Send message</button>
			</div>
		</form>
	</section>
</Layout>
