---
import { getCollection, type CollectionEntry } from "astro:content";

import { Layout } from '@/components/layout/layout.tsx'

const posts = await getCollection('posts', ({ data }) => {
	return data.featured
})
	.then(all => {
		return all
			.sort((a, b) => {
				return new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
			})
	})
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dustin Schau | Product & Engineering Leader</title>
	</head>
	<body>
		<Layout>
			{
				posts.length > 0 ? (
					<ul>
						{
							posts.map(entry => (
								<li>
									<a href={`/posts/${entry.slug}`}>
										{entry.data.title}  
									</a>
								</li>
							))
						}
					</ul>
				) : null
			}
		
		</Layout>
	</body>
</html>