---
import { getCollection } from "astro:content";
import { Image } from '@unpic/astro';

import Layout from "@/layouts/Layout.astro";
import { getRepositories } from '@/lib/get-repositories.ts';

import { Collection } from '@/components/collection/collection.tsx';
import { Project } from '@/components/project/project.tsx';
import { ContactForm } from '@/components/contact-form/contact-form.tsx'

export const prerender = true

const POST_LIMIT = 3
const REPO_LIMIT = 6

const repos = await getRepositories({
	limit: REPO_LIMIT,
})

const posts = await getCollection('posts', ({ data }) => {
	const canShow = import.meta.env.PROD ? data.draft !== true : true;
	return canShow && data.featured
})
	.then(all => {
		return all
			.sort((a, b) => {
				return new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
			})
			.slice(0, POST_LIMIT)
	})
---
<style>
	h3 {
		text-align: center;
		padding: var(--padding-md) 0;

		margin: var(--padding-s) auto;
		max-width: var(--content-width);
		border-top: 1px solid var(--border-color);
	}

	section {
		margin: var(--padding-lg) 0;
		padding: var(--padding-lg) 0;
	}

	section > p {
		margin: 0 auto;
		width: var(--content-width);

		padding: var(--padding-md) var(--padding-lg);
	}

	.images {
		display: grid;
		grid-template-columns: 1fr;
	}

	.images > .image {
		padding: var(--padding-s);
	}

	.images img {
		max-height: 450px;
		height: 100%;
		border-radius: var(--padding-lg);
	}

	@media only screen and (min-width: 768px) {
		.images {
			grid-template-columns: repeat(2, 1fr);
		}
	}

</style>

<Layout title="Product & Engineering Leader">
	<section>
		<div class="images">
			<div class="image"><Image src="https://dschau-website.imgix.net/noah-working.jpeg" alt="My son Noah and I working in my office" layout="fullWidth" height={450} background="#000" priority={true} /></div>
			<div class="image"><Image src="https://dschau-website.imgix.net/maggie.jpeg" alt="My wife Maggie and I at Yosemite" layout="fullWidth" height={450} background="auto" priority={true} /></div>
			<div class="image"><Image src="https://dschau-website.imgix.net/noah.jpeg" alt="My wife Maggie using her iPhone with Noah" layout="fullWidth" height={450} background="auto" /></div>
			<div class="image"><Image src="https://dschau-website.imgix.net/gatsby.jpeg" alt="My time at Gatsby" layout="fullWidth" height={450} background="auto"/></div>
		</div>
	</section>
	<section>
		<h3>recent posts</h3>
		<p>I try to blog about topics that interest me. Maybe they interest you! Some recent ones are below.</p>
		<Collection items={posts} />
	</section>
	{repos.length > 0 && (
		<section>
			<h3>open-source work</h3>
			<p>Working on <a href="https://github.com/dschau">open-source</a> has long been a passion of mine. Some of my favorite projects, the ones I've spent the most time on, or just simply the ones I'm most proud of are below. Check them out if you'd like.</p>
			<Collection items={repos} renderer={Project as any} />
		</section>
	)}
	<section>
		<h3>contact me</h3>
		<p>If you'd like to chat, please do reach out. You can <a href="mailto:me@dustinschau.com">e-mail me</a> or you can use the form below.</p>
		<ContactForm client:load />
	</section>
</Layout>
