.container {
  margin: 0 auto;
  padding: 0 var(--padding-lg);

  max-width: min(65ch, 100%);
}

.container > p {
  padding: var(--padding-md) 0;
}

.title {
  text-align: center;
}

.container > ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.experience {
  margin: 0;
  padding: var(--padding-lg) 0;

  border-top: 1px solid #eee;
}

.experience p {
  padding: var(--padding-md) 0;
}

.employer {
  margin: 0;
  padding: 0;
}

.employer > img {
  height: var(--h3-size);
  width: var(--h3-size);

  margin: 0;
  margin-right: var(--padding-md);
  position: relative;
  top: -2px;
}

.job-title {
  color: var(--text-accent-color);
  margin: 0;
  padding: 0;
}