.post {
  margin: var(--padding-s);
  padding: var(--padding-lg);

  display: flex;
  flex-direction: column;

  border: 1px solid #ddd;
}

.excerpt {
  flex-grow: 1;
  padding-bottom: var(--padding-lg);
}

.title {
  text-align: center;
}

.link {
  color: var(--text-color);
  padding: 0.125rem;
  text-align: center;
}