.container {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}

.container > * {
  grid-column: 2;
}

.container img {
  width: 100%;
  grid-column: 1 / 4;

  object-fit: contain;
  max-height: 500px;
}

[data-rehype-pretty-code-figure] {
  width: 100%;
  grid-column: 1 / 4;

  background-color: #282A36;
  margin: var(--padding-lg) auto;
}

[data-rehype-pretty-code-figure] pre {
  max-width: min(65ch, 100%);
}