.collection {
  display: grid;
  list-style-type: none;

  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1024px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
  }
}